.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-wrapper input {
  height: 50px;
  width: 50%;
  font-size: 15px;
  border: 1px solid black;
}

.search-wrapper button {
  background-color: #008080;
  color: white;
  padding: 0 16px;
  font-size: 15px;
  height: 50px;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
}
.search-wrapper button:hover {
  opacity: 0.8;
  transition: 0.8s;
  background-color: #004c4c;
}
