.navbar ul {
  background-color: rgb(50, 50, 50);
  padding: 10px;
}

.navbar li {
  display: inline;
  margin-left: 5%;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  background-color: aliceblue;
  color: black;
}

footer {
  grid-area: footer;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
